// Colors
$colorppal: #AD4000;
$colorsec: #612400c7;

.carousel__item--modified{
    height: 800px;
    object-fit: cover;
}

.index__h1--modified{
    font-size: 50px;
    padding: 10px;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 30px;
    background: rgba(0, 0, 0, 0.466);
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
    z-index: 1000;
    text-shadow: 0px 0px 6px grey;
}

h3{
    text-shadow: 0px 0px 6px grey;
}

.nav-item{
    text-shadow: 0px 0px 6px grey;
}

.mein__h2{ 
    background-color: rgb(0, 0, 0);
    margin-bottom: 0;
    padding: 20px;
    color: white;
    text-shadow: 0px 0px 6px grey;
}

.container-fluid{
    background: rgb(173,64,0);
    background: radial-gradient(circle, rgba(173,64,0,1) 0%, rgba(97,36,0,1) 51%);
}

.call__h3--modified{
    font-size: 30px;
    margin-top: 20px;
    padding: 10px;
    color: white;
}

.call__p--modified{
    font-size: 20px;
    padding: 20px;
    color: white;
}

.home__myr--modified{
    margin-bottom: 20px;
}

.home__lotd--modified{
    padding: 0;
}

.home__lotd--modified img{
    height: 100%;
    object-fit: cover;
    width: 100%;
    padding: 0;
    margin: 0;
}

.n-left .a{
    padding: 0;
}

.footer__block--modifier{
    background-color: rgb(0, 0, 0);
}

.footer__icons--modified{
    margin-top: 20px;
    font-size: 25px;
}

.footer__icons--modified a {
    text-decoration: none;
    color: $colorppal;
}

.footer__p--modified{
    color: white;
}

/*Heres begging menu styles*/
.parallax {
    background-image: url(img/fondomenu.jpg);
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu__header--modified{
    background: rgb(173,64,0);
    background: linear-gradient(0deg, rgba(173,64,0,1) 0%, rgba(140,52,0,1) 18%, rgba(97,36,0,1) 35%);
    text-align: center;
    height: 300px;
    padding-top: 120px;
    text-shadow: 0px 0px 6px grey;
}

.menu__p--modifier{
    font-size: 12px;
}

.main__h3--modifier{
    text-align: center;
    color: white;
    background-color: $colorppal;
    margin: 0;
    padding: 10px;
}

.main__div--modified{
    height: auto;
    background-color: rgba(0, 0, 0, 0.479);
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.719);
}

.card{
    background-color: $colorsec;
    transform: 0.3s;
    filter: 0.3s;
    margin: 40px;
}

.card-img-top{
    height: 200px;
    object-fit: cover;
}

.card-body{
    height: auto;
}

.card:hover{
    filter: brightness(70%);
}

.column{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    max-height: 800px;
}


/*Heres begging reservation styles*/

.main {
    width:100%;
    height: 800px;
    background-image: url(img/street-6099209_1280.jpg);
    background-position: center;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

.main__box--modifier{
    background-color: $colorsec;
    height: auto;
    width: 50%;
    border-radius: 10px;
    margin: 5px;
    border: solid 1px #612400c7; 
}

.reserve__h3--modifier{
    font-size: 30px;
    padding-top: 10px;
    margin-bottom: 0;
}

.main__form--modified{
    padding: 20px;
}

.reserve{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__reserve--modified{
    border-radius: 5px;
    padding: 8px;
}





.text-underline{
    text-decoration: underline;
}




/*here begging floatting bubble*/

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $colorppal;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
    z-index: 1000;
}

.scroll-to-top:hover {
    background-color: #b9a100;
}

.scroll-to-top i {
    font-size: 20px;
}



.navbar-brand img{
    width: 80px;
    height: 100%;
}



.floating__button--ig {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #C13584;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-decoration: none;
    font-size: 24px;
    z-index: 1000;
    transition: 0.3s;
}

.floating__button--ig:hover {
    background-color: #e1306c;
    text-decoration: none;
}

.floating__button--tw{
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1da1f2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-decoration: none;
    font-size: 24px;
    z-index: 1000;
    transition: 0.3s;
}

.floating__button--tw:hover{
    background-color: #009dff;
    text-decoration: none;
}

.floating__button--fb{
    position: fixed;
    bottom: 180px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #3b5998;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-decoration: none;
    font-size: 24px;
    z-index: 1000;
    transition: 0.3s;
}

.floating__button--fb:hover{
    background-color: #0051ff;
    text-decoration: none;
}


/*heres begging Contact Us */

.form__contact--modified{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    text-shadow: 0px 0px 6px black;
    min-height: 600px;
    border-bottom: 2px solid $colorppal;
}

.form__contact--modifiedr{
    background-color: black;
    border-right: 2px solid $colorppal;
    border-bottom: 2px solid $colorppal;
}

.form__contact--modified input{
    width: 100%;
    border-radius: 8px;
}

.form__contact--modified textarea{
    width: 100%;
    border-radius: 8px;
}

.form__contact--modified label {
    margin-bottom: 5px;
    padding: 10px;
    padding-left: 0;
}

.form__contact--modified button{
    margin: 15px;
    border-radius: 5px;
    padding: 8px;
}

.form__p--modifier{
    display: inline-block;
    width: 80%;
}


/*heres begging How to Get There*/

.map__text{
    padding: 5px;
    margin-bottom: 0;
    color: white;
}

/*heres begging About Us*/

.head__image {
    background-image: url(img/bifedechorzio.png);
    height: 400px;
    width: 100%;
    object-fit: cover;
    background-position: center;
}

.head__image--cont{
    background-color: rgba(128, 128, 128, 0.438);
    height: 100%;
    width: 100%;
}

.head__image--text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    color: white;
}

.container__about--left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: rgba(243, 243, 151, 0.37);
    margin: 90px 30px 60px 30px;
    padding: 20px;
}

.aboutus__left--text{
    width: 70%;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 19px;
    padding: 20px;
    height: 100%;
}

.container__aboutus--img{
    padding: 20px;
}


.aboutus__left--image img{
    background-image: url(img/ai-generated-9010875_1280.jpg);
    height: auto;
    width: 100%;
    object-fit: cover;
    position: center;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn{
    padding: 10px;
    margin: 10px;
    background-color: $colorsec;
    color: white;
    text-decoration: underline;
}

.btn:hover{
    background-color: $colorppal;
    color: white;
    text-decoration: underline;
}

/*heres begging media querys*/
@media only screen and (max-width: 780px){
    .main__box--modifier {width: 80%;}
}
